<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">


    <title>Title</title>

    <style>
        @import url('http://fonts.cdnfonts.com/css/pokemon-solid');

        #pokemon_font {
            font-family: 'Pokemon Solid', sans-serif;
        }

        .main-container{
            width : 60%;
            height: 100%;
            border-color: black;
            background-color: #ffe3e3;

            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;

        }

    </style>



</head>
<body>

<div class = "main-container">
    <p id="pokemon_font"> pokemon </p>

</div>


</body>
</html>