<!DOCTYPE html>
<head>
    <title>Pokemon Test</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Pokemon Face Test"/>
    <link rel="stylesheet" href="/static/main.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<script>
    let audio = new Audio("/static/sound/gameboy-sound.mp3")
</script>
<!--<script src="/static/model.js"></script>-->

<body>
<div class="box">
    <div id="logo-box">
        <img id=pocketmon-logo src="/static/img/pokemonlogo.png">
    </div>
    <div class="switch-container">
        <div class="joy-con-left">
            <div class="ellipse-button" onclick="audio.play()"></div>
            <div class="analog-left" onclick="audio.play()"></div>
            <div class="d-pad-container-left">
                <div class="d-pad-top" onclick="audio.play()"><div class="arrow-up"></div></div>
                <div class="d-pad-left" onclick="audio.play()"><div class="arrow-left"></div></div>
                <div class="d-pad-right" onclick="audio.play()"><div class="arrow-right"></div></div>
                <div class="d-pad-bottom" onclick="audio.play()"><div class="arrow-down"></div></div>
            </div>
            <div class="square-button" onclick="audio.play()"></div>
        </div>
        <div class="joy-con-right">
            <div class="analog-right" onclick="audio.play()"></div>
            <div class="circle-button-right" onclick="audio.play()"></div>
            <div class="d-pad-container-right">
                <div class="d-pad-top" onclick="audio.play()">X</div>
                <div class="d-pad-left" onclick="audio.play()">Y</div>
                <div class="d-pad-right" onclick="audio.play()">A</div>
                <div class="d-pad-bottom" onclick="audio.play()">B</div>
            </div>
            <div class="d-pad-2-container">
                <div class="d-pad-2-vertical" onclick="audio.play()"></div>
                <div class="d-pad-2-horizontal" onclick="audio.play()"></div>
            </div>
        </div>
        <div class="screen-outer">
            <div class="screen-inner">
                <div class="screen-content">
                    <div class="mt-3 container file-upload">
                        <div class="image-upload-wrap content"> <!-- 이미지 업로드 공간 -->
                            <form id="uploadForm">
                                <input class="file-upload-input" id="file-input" type="file"
                                       onchange="readURL(this);" accept="image/*"/>
                            </form>
                            <img class="file-upload-image" id="face-image" src="#" alt="your image">
                            <div class="drag-text">
                                <img class="mt-5 pt-5 upload" src="https://i.imgur.com/MV0tjmd.png"/>
                                <img class="mt-5 pt-5 upload" src="https://i.imgur.com/twN5b08.png"/>
                                <h3 class="mb-5 pb-5 pt-4  upload-text">Upload your photo</h3>
                            </div>
                        </div>
                        <div class="file-upload-content"> <!-- 안보이는 이미지 업로드 공간 -->
                            <div id="loading" class="animated bounce">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p class="text-center">AI가 당신의 포켓몬상을 분석중입니다.</p>
                            </div>
                            <img class="result-image" style="" src="">
                            <p class="result-message"></p>
                            <div id="label-container" class="d-flex flex-column justify-content-around"></div>
                            <div class="pt-3 image-title-wrap">
                                <button type="button p-2" class="try-again-btn" onclick="window.location.reload();">
                                    <span class="try-again-text">다른 사진으로 재시도</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="makers-name">
        <h3>AKBARI Members</h3>
        <p>김지용<br>김훈희<br>남효정<br>최양임<br>한태영</p>
    </div>
    <video muted autoplay loop id="final-video">
      <source src="https://i.gifer.com/UdMo.mp4" type="video/mp4">
      <strong>Your browser does not support the video tag.</strong>
    </video>
</div>
<script>document.body.classList.add("reveal");</script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61deb55ac97a601b"></script>
<script src="/static/script_s.js"></script>
</body>
</html>